@charset "UTF-8";
@font-face {
  font-family: NotoSansKR;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: NotoSansKR;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: NotoSansKR;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}

body, h1, h2, h3, h4, p, ul, button {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

img, video {
  max-width: 100%;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

header, nav, main, section, footer {
  display: block;
}

.blind {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.hidden {
  visibility: hidden;
}

.slide_link_btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  text-align: center;
  width: auto;
  height: 54px;
  line-height: 54px;
  border-radius: 100px;
  font-weight: 700;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 15px;
  padding: 0 55px 0 36px;
  position: relative;
}

.slide_link_btn::after {
  content: "";
  width: 10px;
  height: 10px;
  background: url("../images/main/slide_link_btn.png") no-repeat 50%/cover;
  position: absolute;
  top: 42%;
  right: 26px;
}

.slide_link_btn:hover, .slide_link_btn:focus {
  border: 1px solid white;
}

.link_btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  text-align: center;
  width: auto;
  height: 54px;
  line-height: 54px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 15px;
  padding: 0 40px;
  background: #1E1E1E;
  color: #F9F9F9 !important;
}

.link_btn.transparent {
  border: 1px solid #F9F9F9;
  background: transparent;
}

.link_btn:hover, .link_btn:focus {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #189066;
  border-color: #189066;
}

body {
  font-family: "NotoSansKR", "맑은 고딕", "Malgun Gothic", sans-serif;
  font-size: 14px;
  color: #1E1E1E;
  line-height: 1;
  font-weight: 400;
  word-break: keep-all;
  letter-spacing: -0.035em;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 1000;
}

#skip a:focus {
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #F9F9F9;
  font-weight: 700;
  background: #189066;
  text-align: center;
}

.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .heder_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  padding: 0 150px;
}

.header .heder_wrap .logo a {
  display: block;
  width: 26px;
  height: 30px;
  background: url("../images/common/logo.png") no-repeat center/contain;
}

.header .heder_wrap .pc_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .heder_wrap .pc_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .heder_wrap .pc_nav ul li a {
  display: block;
  line-height: 27px;
  border-bottom: 3px solid transparent;
  margin: 3px  24px 0 24px;
  color: #F9F9F9;
}

.header .heder_wrap .pc_nav ul li:hover a, .header .heder_wrap .pc_nav ul li a:focus {
  border-bottom-color: #501215;
  color: #501215;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .heder_wrap .util a {
  margin-left: 42px;
}

.header .heder_wrap .util a i {
  font-size: 18px;
  color: #fff;
}

.header.on {
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header.on .heder_wrap .logo a {
  background-image: url("../images/common/logo.png");
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header.on .heder_wrap .pc_nav a {
  color: #949494;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header.on .heder_wrap .util i {
  color: #949494;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#m_head {
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
}

#pc_foot {
  padding: 50px 0 70px;
  background: #f9f9f9;
  color: #4A4A4A;
  text-align: center;
}

#pc_foot .btm_link {
  margin-bottom: 20px;
}

#pc_foot .btm_link a {
  margin-left: 24px;
  display: inline-block;
}

#pc_foot .btm_link a:first-child {
  margin-left: 0;
}

#pc_foot .copyright_txt {
  margin-bottom: 20px;
}

#pc_foot .copyright_txt address {
  font-size: 11px;
  letter-spacing: 0.03em;
  line-height: 1.9em;
}

#pc_foot .inicisPay img {
  vertical-align: middle;
  height: 26px;
  margin-right: 3px;
}

#pc_foot .inicisPay span {
  vertical-align: middle;
  font-size: 11px;
}

#m_foot {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.top_btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  background: url("../images/common/top_btn_w.png") no-repeat center/cover;
  z-index: 10;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
  display: none;
}

@media screen and (max-width: 625px) {
  #pc_head {
    display: none;
  }
  .header .heder_wrap {
    padding: 16px;
    height: 60px;
  }
  .header .heder_wrap .logo a {
    display: block;
    width: 140px;
    background: url("../images/common/logo2.png") no-repeat center/contain;
  }
  .header .heder_wrap .util a {
    margin-left: 0px;
  }
  .header .heder_wrap .util a i {
    font-size: 22px;
    color: #fff;
  }
  .header.on .heder_wrap .logo a {
    background-image: url("../images/common/logo3.png");
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header.on .heder_wrap .util i {
    color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #m_head {
    visibility: visible;
    max-height: 60px;
    overflow: visible;
  }
  #m_head .m_nav .menu_open {
    width: 18px;
    height: 18px;
    background: url("../images/common/mGnb_open_btn_w.png") no-repeat center/cover;
    vertical-align: middle;
  }
  #m_head .m_nav .menu_dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    opacity: 0;
  }
  #m_head .m_nav .menu_wrap {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    padding: 0 24px;
    visibility: hidden;
  }
  #m_head .m_nav .menu_wrap > a {
    display: block;
    margin: 22px 0px;
    width: 64px;
  }
  #m_head .m_nav .menu_wrap > a img {
    width: 64px;
    height: 30px;
  }
  #m_head .m_nav .menu_wrap .menu ul li a {
    display: block;
    padding: 24px 0;
    font-size: 18px;
    font-weight: 700;
    color: #949494;
    border-bottom: 1px solid #eee;
    line-height: 1.3;
  }
  #m_head .m_nav .menu_wrap .menu ul li:hover a, #m_head .m_nav .menu_wrap .menu ul li a:focus {
    color: #1E1E1E;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #m_head .m_nav .menu_wrap .menu_close {
    position: absolute;
    top: 22px;
    right: 24px;
  }
  #m_head .m_nav .menu_wrap .menu_close img {
    width: 30px;
    height: 30px;
  }
  #m_head.on .menu_open {
    background-image: url("../images/common/mGnb_open_btn.png");
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #pc_foot {
    display: none;
  }
  #m_foot {
    visibility: visible;
    height: 100%;
    overflow: visible;
    padding: 35px 24px;
    background: #f9f9f9;
    color: #4A4A4A;
    text-align: center;
    font-size: 13px;
  }
  #m_foot .btm_link {
    margin-bottom: 20px;
  }
  #m_foot .btm_link a {
    margin-left: 14px;
  }
  #m_foot .btm_link .second {
    margin-top: 12px;
  }
  #m_foot .copyright_txt {
    margin-bottom: 20px;
  }
  #m_foot .copyright_txt address {
    font-size: 11px;
    letter-spacing: 0.03em;
    line-height: 1.9em;
  }
  #m_foot .inicisPay img {
    vertical-align: middle;
    height: 22px;
    margin-right: 3px;
  }
  #m_foot .inicisPay span {
    vertical-align: middle;
    font-size: 11px;
  }
  .top_btn {
    right: 16px;
    bottom: 16px;
  }
}
