#main .container {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
}

#main .container h1 {
  padding: 24px 0;
  font-size: 18px;
  font-weight: 500;
}

#main .container .wrap {
  text-align: center;
}

#main .container .wrap .info {
  padding: 50px 0 140px;
}

#main .container .wrap .info h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

#main .container .wrap .info p {
  font-size: 13px;
  line-height: 24px;
}

#main .container .wrap .info a {
  display: inline-block;
  margin-top: 40px;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}

@media screen and (max-width: 625px) {
  #main .container h1 {
    margin-left: 20px;
  }
}
